<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blaze Car Hire</h1>
<h3>Quality Cars available</h3>



<a href="/">Our Home</a>
<a href="/services">Our Services</a>
<a href="/Members">Our Members</a>
<a href="about_us">about_us</a>
<a href="register">register</a>

<style>

body {background-color: powderblue;}
h1   {color: blue;}
h2   {color: blue;}
h3  {color: blue;}
p    {color: grey;}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 500%;}

h2 {
  color: blue;
  font-family: verdana;
  font-size: 500%;}

h3 {
  color: blue;
  font-family: verdana;
  font-size: 500%;}

}
p  {
  color: grey;
  font-family: courier;
  font-size: 160%;}

p {
  border: 1px solid red;
  padding: 10px;}



</style>




<img src="../static/beach.jpg" alt=""width="800">


<p>Avenue Service Station (1977) limited was
    started in 1977, now called Avenue Car Hire
    & Leasing. Focusing on operation of a petrol
    filling station under the Kenya Shell brand,
    and provision of related services.</p>

<p>The Car Hire was started in 1984 with a fleet
    of only four (4) vehicles. Today, that number
    has grown to over one hundred and eighty (180)
    vehicles and over one hundred (100) drivers.</p>


<h2>What we hav Achieve</h2>

<p>Today, we are one of the market leaders in
    the car hire and leasing industry. Avenue’s
    clients primarily consist off Multinational Companies,
    NGO’s and Corporate entities. We do however cater for
    all sorts of private clients.</p>


</body>
</html>