<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blaze Car Hire</h1>
<h3>Quality Cars available</h3>


<a href="/">Our Home</a>
<a href="/services">Our Services</a>
<a href="/Members">Our Members</a>
<a href="about_us">about_us</a>
<a href="register">register</a>



<style>
body {background-color: powderblue;}
h1   {color: blue;}
h2   {color: blue;}
h3  {color: blue;}
p    {color: grey;}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 500%;}

h2 {
  color: blue;
  font-family: verdana;
  font-size: 500%;}

h3 {
  color: blue;
  font-family: verdana;
  font-size: 500%;

}
p  {
  color: grey;
  font-family: courier;
  font-size: 160%;}

p {
  border: 1px solid red;
  padding: 10px;}





</style>

<h1>This is a heading</h1>

<p>This is a paragraph.</p>
<p>This is a paragraph.</p>
<p>This is a paragraph.</p>

<p id="p01">I am different.</p>

<img src="../static/v8.jpg" alt="a">

<p>This paragraph
contains a lot of lines
in the source code,
but the browser
ignores </p>
<h2>Welcome message</h2>

<p> We have access to exclusive
    lowest prices and free add-ons.
    Our smart booking search engine will
    ensure that we pass those savings on
    to you! We will show you the best
    and cheapest price for your rental
    requirements to help you find your
    ideal car. </p>

<p>We believe everyone should have
    a memorable and enjoyable
    experience with their car
    rental. For that reason
    we have selected suppliers
    that are friendly and helpful
    , reputable and have in-depth
    local knowledge to ensure you
    get the best out of your rental.
</p>








</body>
</html>