<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>Blaze Car Hire</h1>
<h3>Quality Cars available</h3>

<a href="/">Our Home</a>
<a href="/services">Our Services</a>
<a href="/Members">Our Members</a>
<a href="/about_us">about_us</a>
<a href="register">register</a>

<style>
body {background-color: powderblue;}
h1   {color: blue;}
h2   {color: blue;}
h3  {color: blue;}
p    {color: grey;}


h1 {
  color: blue;
  font-family: verdana;
  font-size: 500%;}

h2 {
  color: blue;
  font-family: verdana;
  font-size: 500%;}

h3 {
  color: blue;
  font-family: verdana;
  font-size: 500%;}

}
p  {
  color: grey;
  font-family: courier;
  font-size: 160%;}

p {
  border: 1px solid red;
  padding: 10px;}


</style>

<img src="../static/tor.JPG" alt="">

<table style="width:100%; border: 1px">
  <tr>
    <th>Company</th>

    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
    <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
    </tr>
    <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
    </tr>
    <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
    </tr>


</table>

</body>
</html>