<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blaze Car Hire</h1>
<h3>Quality Cars available</h3>

<a href="/">Our Home</a>
<a href="/services">Our Services</a>
<a href="/Members">Our Members</a>
<a href="about_us">about_us</a>
<a href="register">register</a>

<style>
body {background-color: powderblue;}
h1   {color: blue;}
h2   {color: blue;}
h3  {color: blue;}
p    {color: grey;}


h1 {
  color: blue;
  font-family: verdana;
  font-size: 500%;

h2 {
  color: blue;
  font-family: verdana;
  font-size: 500%;

h3 {
  color: blue;
  font-family: verdana;
  font-size: 500%;

}
p  {
  color: grey;
  font-family: courier;
  font-size: 160%;

p {
  border: 1px solid red;
  padding: 10px;}


</style>



<img src="../static/harley.jpg" alt=""width="500">

 <p>This paragraph
contains a lot of lines
in the source code,
but the browser
ignores <p>

   <h3>Drinks</h3>
    <ul>
        <li>soda</li>
        <li>Water</li>
        <li>juice</li>
        <li>Black coffee</li>
    </ul>


    <h3>Foods</h3>
    <ol>
        <li>Fish</li>
        <li>Rice</li>
        <li>Ugali</li>
        <li>Meat</li>
        <li>Chapati</li>
    </ol>

    <h3>Latest News</h3>
    <dl>
        <dt>Sports</dt>
        <dd> Harambee Stars win against uganda in a friendly match...</dd>
        <dt>Business</dt>
        <dd>KRA requires all business to pay tax by 25th August 2019...</dd>
    </dl>







</body>

</html>